@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-black-alt  {
    background:#191919;
}
.text-black-alt  {
    color:#191919;
}
.border-black-alt {
    border-color: #191919;
}

@layer base {
    input {
        @apply bg-gray-900 text-sm text-gray-400 transition border border-gray-800 focus:outline-none focus:border-gray-600 rounded py-1 px-2 appearance-none
    }
}

@layer components {
    .custom-button-normal {
        @apply bg-indigo-600 text-white font-bold uppercase text-xs px-4 py-2 rounded shadow hover:bg-indigo-500 mr-1 mb-1 ease-linear transition-all duration-150
    }

    .custom-button-save {
        @apply bg-green-600 text-white font-bold uppercase text-xs px-4 py-2 rounded shadow hover:bg-green-500 mr-1 mb-1 ease-linear transition-all duration-150
    }

    .custom-button-danger {
        @apply bg-red-500 text-white font-bold uppercase text-xs px-4 py-2 rounded hover:bg-red-400 mr-1 mb-1 ease-linear transition-all duration-150
    }

    .custom-layout-grouping {
        @apply bg-gray-900 border border-gray-800 rounded shadow p-2 container max-w-full
    }

    .custom-input {
        @apply bg-gray-900 text-sm text-gray-400 transition border border-gray-800 focus:outline-none focus:border-gray-600 rounded py-1 px-2 appearance-none
    }
}